{% extends "base.html" %}

{% block content %}

<h1>Members</h1>
<ul>
    {% for member in members %}
    <li>
        <p>Name : <a href="/members/{{ member.id }}">{{ member.name }}</a></p>
        <p>Premium Membership: {{ member.premium }}</p>
        <p>Active Member : {{ member.active }}</p>
        <a href="/members/edit/{{ member.id }}">Edit Member</a>
        <a href="/members/delete/{{ member.id }}">Delete Member</a>
    </li>
    {% endfor %}
</ul>


<a href="/members/new">Add New Member</a>

{% endblock %}