{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Members</h1>
</header>
<article class="container">
    {% for member in members %}
    <div class="box">
        <p>Name : <a href="/members/{{ member.id }}">{{ member.name }}</a></p>
        <p>Name : {{ member.age }}</p>
        <p>Name : {{ member.email }}</p>

        {% if member.premium %}
            <p>Membership : Premium</p>
        {% else %}
            <p>Membership : Standard</p>
        {% endif %}

        {% if member.active %}
            <p>Active Member : Yes</p>
        {% else %}
            <p>Active Member : No</p>
        {% endif %}

        <div class="flex-center">
            <button>
                <a href="/members/edit/{{ member.id }}">Edit Member</a>
            </button>
            <button class="delete-button">
                <a href="/members/delete/{{ member.id }}">Delete Member</a>
            </button>
        </div>
    </div>
    {% endfor %}
</article>

<footer class="footer">
    <button>
        <a href="/members/new">Add New Member</a>
    </button>
</footer>
{% endblock %}