{% extends "base.html" %}

{% block content %}

<h1>Members</h1>
<article class="container">
    {% for member in members %}
    <div class="box">
        <p>Name : <a href="/members/{{ member.id }}">{{ member.name }}</a></p>

        {% if member.premium %}
            <p>Membership : Premium</p>
        {% else %}
            <p>Membership : Standard</p>
        {% endif %}

        {% if member.active %}
            <p>Active Member : Yes</p>
        {% else %}
            <p>Active Member : Yes</p>
        {% endif %}

        <div>
            <span>
                <button>
                    <a href="/members/edit/{{ member.id }}">Edit Member</a>
                </button>
            </span>
            <span>
                <button>
                    <a href="/members/delete/{{ member.id }}">Delete Member</a>
                </button>
            </span>
        </div>
    </div>
    {% endfor %}
</article>
<button><a href="/members/new">Add New Member</a></button>


{% endblock %}