{% extends "base.html" %}

{% block content %}

<h1>Bookings</h1>
<ul>
    {% for booking in bookings %}
    <li>
        <p>Member : <a href="/members/{{ booking.member.id }}">{{ booking.member.name }}</a></p>
        <p>Course : <a href="/courses/{{ booking.course.id }}">{{ booking.course.title }}</a></p>
        <p>Date: {{ booking.course.date }}</p>
        <p>Capacity: {{ booking.course.capacity }}</p>
        <a href="/bookings/{{ booking.id }}">Details</a>
    </li>
    {% endfor %}
</ul>

<a href="/bookings/new">Add New Booking</a>

{% endblock %}