{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>New Booking</h1>
</header>

<article class="container">
    <form class="form-box" action="/bookings" method="post">
        <span>
            <label for="member">Choose A Member</label>
            <select name="member_id" id="member">
            {% for member in members %}
                {% if member.active %}
                <option value="{{ member.id }}">{{ member.name }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </span>
        
        <span>
            <label for="course">Choose A Course</label>
            <select name="course_id">
            {% for course in courses %}
                {% if course.active %}
                <option value="{{ course.id }}">{{ course.title }} - {{ course.date }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </span>
    
        <input type='submit' value="Add Booking">
    </form>
</article>

{% endblock %}