{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>New Booking</h1>
</header>

<article class="container">
    <form class="box" action="/bookings" method="post">
        <label for="member">Choose A Member</label>
        <select name="member_id" id="member">
        {% for member in members %}
            <option value="{{ member.id }}">{{ member.name }}</option>
        {% endfor %}
        </select>
        
        <label for="course">Choose A Course</label>
        <select name="course_id">
        {% for course in courses %}
            <option value="{{ course.id }}"><span class="form-input-title">{{ course.title }}</span> - {{ course.date }}</option>
        {% endfor %}
        </select>
    
        <input type='submit' value="Add Booking">
    </form>
</article>

{% endblock %}