{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Booking Details</h1>
</header>

<article class="container">
    <div class="box">
        <p>Class Title: {{ course.title }}</p>
        <p>Member Name: {{ member.name }}</p>
        <p>Course Date: {{ course.date }}</p>
        <p>Course Capacity: {{ course.capacity }}</p>
    </div>
    <div class="box">
        <h2>Members Booked This Course</h2>
        {% for member in booked_members %}
        <a href="/members/{{ member.id }}">{{ member.name }}</a>
        {% endfor %}
    </div>
</article>

{% endblock %}