{% extends "base.html" %}

{% block content %}
<header class="title">
    <h1>Payments</h1>
</header>

<article class="container">
    <table class="box">
        <tr>
            <th>Member</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.member.name }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.date }}</td>
            </tr>
        {% endfor %}
    </table>
</article>

<footer class="footer">
    <button>
        <a href="/">coming soon</a>
    </button>
</footer>
{% endblock %}