* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: black;
}

menu {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.flex-center {
    display: flex;
    justify-items: center;
}

li {
    list-style: none;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.title {
    color: #F1EEE9;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-left: 200px;

}

.title>h1, .title>h3 {
    margin: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr, auto;
    margin-left: 200px;
    margin-top: 2rem;
    padding: 0px 10px;
}

.box {
    padding: 1rem;
    display: grid;
    place-items: center;
    background: #F1EEE9;
    border-radius: 1rem;
    color: black;
}

.box>p {
    margin: 1rem;
}

.main-box {
    padding: 4rem;
}

.padding-1rem {
    padding: 1rem;
}

.form-box {
    padding: 1rem;
    display: grid;
    place-items: center;
    background: #F1EEE9;
    /* max-width: max-content; */
    border-radius: 1rem;
    color: black;
}

label {
    display: inline-block;
    width: 9rem;
}

input, select {
    margin: 10px;
    height: 40px;
    width: 200px;
    border: 1px solid gray;
}

.footer {
    display: flex;
    justify-content: center;
    margin-left: 200px;
}