{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Welcome Back</h1>
</header>

<section class="container">
    <article class="box">
        <div>
            <h2>Latest Booking</h2>
            <p>
                <a href="/members/{{ member.id }}">{{ member.name }}</a> booked <a href="/courses/{{ course.id }}">{{ course.title }}</a>
            </p>
        </div>
    </article>
    <article class="box">
        <div>
            <h2>Upcoming Courses</h2>
            {% for course in courses[:3] %}
            <h3>{{ course.title }}</h3><p><i class="fa-solid fa-calendar-check"></i> {{ course.date }}</p>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock %}