{% extends "base.html" %}

{% block content %}

<h1>Home</h1>
<h2>Welcome Back</h2>

<br>

<h2>Latest Booking</h2>
<ul>
    <li>
        <p>
            <a href="/">{{ member.name }}</a> booked <a href="/">{{ course.title }}</a>
        </p>
    </li>
</ul>

<h2>Upcoming Courses</h2>
<h3>{{ courses[0].title }}</h3><p>Date: {{ courses[0].date }}</p>
<h3>{{ courses[1].title }}</h3><p>Date: {{ courses[1].date }}</p>
<h3>{{ courses[2].title }}</h3><p>Date: {{ courses[2].date }}</p>



{% endblock %}