{% extends "base.html" %}

{% block content %}

<h1>Courses</h1>
<article class="container">
    {% for course in courses %}
    <div class="box">
        <p>Course : <a href="/courses/{{ course.id }}">{{ course.title }}</a></p>
        <p>Date: {{ course.date }}</p>
        <p>Capacity: {{ course.capacity }}</p>
        <p>Course Active: {{ course.active }}</p>
        <div>
            <button>
                <a href="/courses/edit/{{ course.id }}">Edit Course</a>
            </button>
            <button>
                <a href="/courses/delete/{{ course.id }}">Delete Course</a>
            </button>
        </div>
    </div>
    {% endfor %}
</article>

<button>
    <a href="/courses/new">Add new Course</a>
</button>

{% endblock %}