{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Courses</h1>
</header>
<br><br>
<section class="flex-center-section">
    <button>
        <a href="/courses/new">Add new Course</a>
    </button>
</section>
<br><br>
<article class="container">
    {% for course in courses %}
    <div class="box">
        <h2><a href="/courses/{{ course.id }}">{{ course.title }}</a></h2><br>
        <p>Level: {{ course.level }}</p>
        <p>Date: {{ course.date }}</p>
        <p>Spaces Left: {{ course.capacity }}</p>
        <p>Course Active: {% if course.active == True %}Yes{% else %}No{% endif %}</p>
        <div class="flex-center">
            <button>
                <a href="/courses/edit/{{ course.id }}">Edit Course</a>
            </button>
            <button class="delete-button">
                <a href="/courses/delete/{{ course.id }}">Delete Course</a>
            </button>
        </div>
    </div>
    {% endfor %}

{% endblock %}