{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>New Course</h1>
    <h3>Please fill in the details of the new course</h3>
</header>
<br><br>
<article class="container">
    <form class="form-box" action="/courses" method="post">
        <span>
            <label for="course">Course Title</label>
            <input type="text" name="title">
        </span>
        <span>
            <label for="level">Level</label>
            <select name="level">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </span>
        <span>
            <label for="date">Date</label>
            <input type="datetime-local" name="date">
        </span>
        <span>
            <label for="capacity">Capacity</label>
            <input type="number" name="capacity">
        </span>
        <span>
            <label for="active">Active</label>
            <select name="active">
                <option value="True">Active</option>
                <option value="False">Deactive</option>
            </select>
        </span>
        <input class="submit-input" type='submit' value="Add Course">
    </form>
</article>

{% endblock %}