{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Course Details</h1>
</header>

<article class="container">
    <div class="box main-box">
        <h1>{{ course.title }}</h1>
        <p>Level: {{ course.level }}</p>
        <p>Date: {{ course.date }}</p>
        <p>Spaces Left: {{ course.capacity }}</p>
        <p>Active: {% if course.active == True %}Yes{% else %}No{% endif %}</p>
    </div>
    <div class="box main-box">
        <h2 class="paddding-1rem">Bookings</h2>
        {% if not booked_members %}
            <p>There isn't any bookings yet</p>
        {% else %}
            {% for member in booked_members %}
                <a class="paddding-1rem" href="/members/{{ member.id }}">{{ member.name }}</a>
            {% endfor %}
        {% endif %}
    </div>
</article>

{% endblock %}