{% extends "base.html" %}

{% block content %}

<header class="title">
    <h1>Course Details</h1>
</header>

<article class="container">
    <div class="box">
        <h1>{{ course.title }}</h1>
        <p>Level: {{ course.level }}</p>
        <p>Date: {{ course.date }}</p>
        <p>Spaces Left: {{ course.capacity }}</p>
        <p>Active: {{ course.active }}</p>
    </div>
    <div class="box">
        <h2>Bookings</h2>
        {% for member in booked_members %}
        <a href="/members/{{ member.id }}">{{ member.name }}</a>
        {% endfor %}
    </div>
</article>

{% endblock %}